@media (min-width: 800px) {
    .loginBody {
        margin-top: 20px;
        padding-left: 5px;
        padding-top: 5px;
        background-color:cadetblue;
        color: aqua;
    }
}

@media (max-width: 800px) {
    .loginBody {
        margin-top: 20px;
        padding-left: 5px;
        padding-top: 5px;
        background-color:cadetblue;
        color: aqua;
    }
}