@media (min-width: 800px) {
    .cardBody {
        background-color: #454040;
        color: #E6F082;
        width: 100%;
        max-width: 400px;
        height: fit-content;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 1px;
        padding-bottom: 5px;
        margin-bottom: 20px;
        border-radius: 2em;
        text-align: justify;
    }
}

@media (max-width: 800px) {
    .cardBody {
        background-color: #454040;
        color: #E6F082;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 1px;
        padding-bottom: 5px;
        margin-bottom: 20px;
        border-radius: 2em;
        text-align: justify;
    }
}

img {
    width: 100%;
}

h2 {
    color: #D8D365;
}